:root {
    --discord-primary: #255ee9;
    --discord-dark: #23272a;
    --discord-light:#f7f6f7;
    --discord-lighter: rgba(246, 246, 246, 1);
}

/*region common*/
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: small;
}

.container {
    width: 70%;
    margin: auto;
}

ul {
    color: white;
    list-style-type: none;
}

button {
    border-radius: 20px;
    background-color: white;
    padding: 9px 20px 9px 20px;
    border-width: 0;
    margin: 2px 10px 2px 10px;
    text-align: center;
}

/*region header*/
#site_header {
    margin: 0;
    background-color: var(--discord-primary);
}

header {
    display: flex;
    font-size: smaller;
}

.d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.hea-li {
    padding: 1rem;
}

.link {
    display: flex;
    flex-direction: row;
}

/*endregion_header*/

/*site_main*/

main {
    display: flex;
    margin: 0px;
    flex-direction: column;
}

#first-type {
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
}

.your_space {
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 100px;
}

.browser {
    color: white;
    background-color: var(--discord-dark);
}

.wave {
    color: var(--discord-light);
    display: flex;
}

.bottom_wave {
    transform: rotate(180deg);

}


.back-container{
    margin:0px;
      background-color: var(--discord-light);
}

/*second*/
.second-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 100px;
    gap: 40px;
}

/*third*/
.third-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.reliable {
    text-align: center;
}

.stars {
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}

h4 {
    margin: 0;
}

.Mac2 {
    background-color: #8fa1e0;
    color: white;
}

/*end site main*/
/*site footer*/
/*.social{
    color: white;
    width: 5px;
    height: 5px;
}*/
footer {
    background-color: var(--discord-dark);
}

.more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: smaller;
}

.social {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #8fa1e0;
}

.ita {
    color: white;
}

.flag {
    height: 14px;
    width: 16x;
}

.icon{
    display: flex;
    flex-direction: row;
}
.fab{
    color: white;
    padding:6px;
    font-size: 15px;
}

.fo-list {
    flex-direction: column;
    padding: 1px;

}

.li-color li:first-child {
    color: #8fa1e0;
    font-weight: bold;
}

hr {
    color: #8fa1e0;
}

.fo-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.fo-button {
    color: white;
    background-color: #8fa1e0;
}