:root {
    --discord-primary: rgba(48, 97, 255, 1);
    --discord-dark: rgba(34, 39, 43, 1);
    --discord-light: rgba(246, 246, 246, 1);
}

body {
    margin: 0;
}

#site_header {
    margin: 0;
    background-color: var(--discord-primary);
}

/*site_header*/

header {
    display: flex;
}

.container {
    width: 60%;
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


ul {
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 1rem;
}

button {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    border-width: 0;
}

/*endsite_header*/

/*site_main*/

main{
    display: flex;
    margin: 0px;
    
}

#first{
    background-image: url(./img/jumbo.png);
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    height: fit-content;  
}

.your_space{
    color: white;
    text-align: center;
    width: 60%;
    margin: auto; 
    padding: 90px;
}

.browser{
    color: white;
    background-color: var(--discord-dark);
}